
.my-custom-class {
    background-image: linear-gradient(90deg, #000824 0%, #6a0979 35%, #00ffc3 100%);
    color: #ffffff; /* white text */
    margin-bottom: 4%;
    padding: 2%;
}

body {
    background-color: #cec5e8;
    margin: 10px;
}

#five_day_weather{
    background-color: rgb(30, 146, 150);
    
}

.today{
    margin-left:10px
}

#submit_button{
    background-color: rgb(85, 15, 112);
    color: white;
}